.box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.searchBar {
    margin-bottom: 40px;
}

input[type="text"] {
    width: 240px;
    height: 35px;
    padding-left: 15px;
    border: solid 1.5px #6e6c6c;
    border-radius: 4px;
    font-size: 16px;
}

#searchBtn {
    width: 85px;
    height: 36px;
    padding: 8px 16px 8px 16px;
    border: none;
    border-radius: 8px;
    background-color: rgba(78, 117, 255, 1);
    color: #FFF;
    text-align: center;
    font-size: 16px;
}

.gallery {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    list-style-type: none;
}